<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/artShow.css">

<main class="container-fluid d-flex justify-content-center align-items-md-center my-5">
  <div class="row justify-content-center mx-0">
    <div class="col-md-6 d-flex align-items-md-center justify-content-center mb-4">
      <img src="<%= artwork.images[0].url %>" alt="" class="img-fluid" id="artImg">
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <div class="text-container text-lg-start text-center">
        <h1 class="fw-bold"><a href="/artworks"><i class="bi bi-chevron-left" id="backButton"></i></a><%= artwork.title %></h1>
        <p>by <a href="/artists/<%= artwork.artist._id %>"><%= artwork.artist.name %></a>, <%= artwork.year %></p>
        <p>at <a href="/museums/<%= artwork.museum._id %>"><%= artwork.museum.name %></a></p>
      </div>
    </div>
  </div>
</main>