<% layout('layouts/boilerplate') %>



<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="card-title mb-1">
                <h5 class="text-center">search <span class="fw-bold">museo</span></h5>
            </div>
            <div class="container-fluid">
                <form action="/search?_method=PATCH" method="post" class="needs-validation" novalidate>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="search" placeholder="search" value="<%= search %>" required>
                        <label for="name">search:</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn">search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h5 class="text-center">results for <span class="fw-bold">"<%= search %>"</span></h5>
    <h6 class="fw-bold">art</h6>
    <ul class="list-group list-group-flush mb-3">
        <% if (artworks.length === 0) {%>
            <li class="list-group-item">no matching <a href="/artworks" class="fw-bold nav-link">artworks</a> on <span class="fw-bold">museo</span></li>
        <% } else { for (let artwork of artworks) { %>
            <li class="list-group-item"><a href="/artworks/<%= artwork._id %>" class="nav-link"><%= artwork.title %></a></li>
        <% }} %> 
    </ul>
    <h6 class="fw-bold">artists</h6>
    <ul class="list-group list-group-flush mb-3">
        <% if (artists.length === 0) {%>
            <li class="list-group-item">no matching <a href="/artists" class="fw-bold nav-link">artists</a> on <span class="fw-bold">museo</span></li>
        <% } else { for (let artist of artists) { %>
            <li class="list-group-item"><a href="/artists/<%= artist._id %>" class="nav-link"><%= artist.name %></a></li>
        <% }} %> 
    </ul>
    <h6 class="fw-bold">museums</h6>
    <ul class="list-group list-group-flush mb-3">
        <% if (museums.length === 0) {%>
            <li class="list-group-item">no matching <a href="/museums" class="fw-bold nav-link">museums</a> on <span class="fw-bold">museo</span></li>
        <% } else { for (let museum of museums) { %>
            <li class="list-group-item"><a href="/museums/<%= museum._id %>" class="nav-link"><%= museum.name %></a></li>
        <% }} %> 
    </ul>
</div>