<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/artistIndex.css">

<header class="container-fluid">
  <div class="row">
    <div class="dropdown float-md-end">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"><i class="bi bi-filter-circle"></i></button>
      <div class="dropdown-menu">
        <h5 class="text-center">filter <span class="fw-bold">artists</span></h5>
        <div class="container-fluid mb-3 d-flex flex-row justify-content-between">
          <div class="form-check">
            <input type="radio" class="form-check-input" name="artistFilter" id="artistFilterName">
            <label for="artistFilterName" class="form-check-label">name</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="artistFilter" id="artistFilterLife">
            <label for="artistFilterLife" class="form-check-label">lifespan</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" name="artistFilter" id="artistFilterMuseum">
            <label for="artistFilterMuseum" class="form-check-label">museum</label>
          </div>
        </div>
        <form action="/artists?_method=PATCH" method="post" class="mx-3 needs-validation" novalidate>
          
          <div class="mb-3" id="artistNameContainer">
            <label for="artistName">name:</label>
            <input type="text" class="form-control" name="name" id="artistName">
          </div>
          <div class="input-group my-3" id="artistLifeContainer">
            <input type="number" class="form-control" placeholder="born after" aria-label="born after" name="filterBornDate" id="bornYear">
            <span class="input-group-text">-</span>
            <input type="number" class="form-control" placeholder="died before" aria-label="died before" name="filterDeathDate" id="deathYear">
          </div>
          <div class="mb-3" id="artistMuseumContainer">
            <label for="museum">museums:</label>
            <select name="filterMuseum" id="museumSelect" class="form-select form-select-sm">
                  <option value='' disabled selected></option>
                <% for (let museum of museums) {%>
                  <option value="<%= museum._id %>"><%= museum.name %></option>
                <% } %>
              </select>
          </div>
          <div class="d-grid" id="submitButtonContainer">
            <button class="btn" id="submitButton" disabled>filter artists</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<% if (artists.length === 0) {%>
  <p class="text-center">no artists match your search; try broadening your parameters</p>
<% } %>
<div class="grid" id="index-grid">
  <div class="grid-sizer"></div>
  <% for (let artist of artists) {%>
    <a href="/artists/<%= artist._id %>">
      <div class="grid-item ">
        <div class="gradient-overlay"></div>
        <h4 class="fw-bold museum-name"><%= artist.name %></h4>
        <img src="<%= artist.images[0].url %>" alt="">
      </div>
    </a>
    <% } %>
</div>

<script src="/js/artistFilterForm.js"></script>
<script src="/js/validateforms.js"></script>
<script src="/js/imagesloaded.js"></script>
<script src="/js/masonry.js"></script>
<script src="/js/initializeMasonry.js"></script>