<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/museumShow.css">

<div id="header" class="mt-5">
  <div id="museumHeroGradient"></div>
  <h1 class="fw-bold" id="museumTitle"><a href="/museums"><i class="bi bi-chevron-left" id="backButton"></i></a><%= museum.name %></h1>
  <img id="museumShowHero" src="<%= museum.images[0].url %>" alt="">
</div>
<ul class="nav nav-pills nav-justified flex-column flex-md-row" id="museumShowTab" role="tablist">
  <li class="nav-item">
    <button class="nav-link active" id="overview-tab" data-bs-toggle="tab" data-bs-target="#overview-tab-pane" role="tab" aria-controls="overview-tab-pane" aria-selected="true">
      overview
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="museum-tab" data-bs-toggle="tab" data-bs-target="#museum-tab-pane" role="tab" aria-controls="museum-tab-pane" aria-selected="true">
      the museum
    </button>
  </li>
  <% if(currentUser && museum.postedBy.equals(currentUser._id)) {%>
  <li class="nav-item">
    <button class="nav-link" id="admin-tab" data-bs-toggle="tab" data-bs-target="#admin-tab-pane" role="tab" aria-controls="admin-tab-pane" aria-selected="true">
      settings
    </button>
  </li>
  <% } %>
</ul>

<div class="tab-content mt-3" id="museumShowTabContent">
  <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab" tabindex="0">
    <div class="row d-flex text-center mb-5 mb-md-0">
      <div class="col-md-6 mb-3 mb-md-0 d-flex justify-content-md-end justify-content-center">
        <div id="museumCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <% museum.images.forEach((img, i)=> { %>
            <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
              <img src="<%= img.url %>" class="d-block w-100 img-fluid" alt="..." />
            </div>
            <% }) %> <% if(museum.images.length > 1) {%>
            <button class="carousel-control-prev" type="button" data-bs-target="#museumCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#museumCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center text-md-start justify-content-center justify-content-md-start">
        <a href="<%= museum.url %>" data-bs-toggle="tooltip" data-bs-title="view museum's website" class="museumTitleLink">
          <h3 class="fw-bold link-underline-none"><%= museum.name %> <i class="bi bi-box-arrow-up-right d-inline" style="font-size: .75em"></i></h3>
        </a>
        <div class="row">
          <p>added to <span class="fw-bold">museo</span> by <a href="/users/<%= museum.postedBy._id %>"><span class="fw-bold"><%= museum.postedBy.username %></span></a></p>
        </div>
        <div class="row">
          <div class="col">
            <a href="#mapCollapse" data-bs-toggle="collapse" role="button" class="museumTitleLink"><%= museum.location %></a>
            <div class="collapse align-self-center" id="mapCollapse"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade show" id="museum-tab-pane" role="tabpanel" aria-labelledby="museum-tab" tabindex="0">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-md-end">
          <a href="<%= museum.url %>" data-bs-toggle="tooltip" data-bs-title="view museum's website" class="museumTitleLink">
            <h3 class="fw-bold link-underline-none"><%= museum.name %> <i class="bi bi-box-arrow-up-right d-inline" style="font-size: .75em"></i></h3>
          </a>
          <p>added to <span class="fw-bold">museo</span> by <a href="/users/<%= museum.postedBy._id %>"><span class="fw-bold"><%= museum.postedBy.username %></span></a></p>
          <p><%= museum.location %></p>
        </div>
        <div class="col-md-6">
          <p class="me-md-8"><%= museum.summary %></p>
        </div>
      </div>
    </div>
  </div>
 
  <% if(currentUser && museum.postedBy.equals(currentUser._id)) {%>
    <div class="tab-pane fade show" id="admin-tab-pane" role="tabpanel" aria-labelledby="admin-tab" tabindex="0">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3 text-center">
            <h3>edit <%= museum.name %></h3>
            <div class="d-grid">
              <div class="row">
                <form action="/museums" method="delete" class="d-grid">
                  <button class="btn">delete <%= museum.name %> from <span class="fw-bold">museo</span></button>
                </form>
                <a href="/museums/<%= museum._id %>/edit" class="btn">edit <%= museum.name %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>

  <h3 class="mt-3 text-center"><span class="fw-bold">artwork</span> at <%= museum.name %></h3>

  <% if (museum.artworks.length === 0) {%>
    <div class="container text-center">
      <p class="mt-3 text-center">no works have been added to <%= museum.name %> on <span class="fw-bold">museo</span></p>
      <% if (currentUser) {%>
        <a href="/artworks/new" class="nav-link">add one now</a>
        <% } else { %>
        <a href="/register" class="nav-link">register to add one</a>
    </div>
    <% }} else { %>
  <div class="artCarousel mt-3" data-flickity='{"cellAlign": "center", "contain": true, "imagesLoaded": true, "percentPosition": true, "pageDots": false, "prevNextButtons": false, "freeScroll": true, "draggable": true, "wrapAround": true}'>
    <% for (let artwork of museum.artworks) {%>
    <a href="/artworks/<%= artwork._id %>">
      <div class="artCarousel-item">
        <h2 class="artwork-title"><%= artwork.title %></h2>
        <div class="gradient-overlay"></div>
        <img src="<%= artwork.images[0].url %>" alt="" class="artwork-img">
      </div>
    </a>
    <% } %>
  </div>
  <% } %>

  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
    const museum = <%- JSON.stringify(museum) %>
  </script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
  <script src="/js/museumShowMap.js"></script>
  <script src="/js/imagesloaded.js"></script>